<div *ngIf="vehicle">
  <h1 mat-dialog-title>{{vehicle.name}}</h1>
  <div mat-dialog-content>
    <div id="carouselExampleControls" class="carousel slide mb-3 w-50 mx-auto" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let photo of vehicle.photos; index as i">
          <img [src]="photo.path" class="d-block mx-auto align-self-center">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <table class="table table-borderless w-75 mx-auto">
      <tbody>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Name</td>
          <td>{{vehicle.name}}</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Passenger Capcity</td>
          <td>{{vehicle.passenger_capacity}}</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Child Seat Capcity</td>
          <td>{{vehicle.child_seat_capacity}}</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Luggage Capcity</td>
          <td>{{vehicle.luggage_capacity}}</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Base Price</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.baseprice}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 0 to 10 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price0to10}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 10 to 25 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price10to25}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 25 to 40 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price25to40}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 40 to 60 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price40to60}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 60 to 80 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price60to80}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 80 to 100 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price80to100}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 100 to 120 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price100to120}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price for 120 to 150 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price120to150}}.00</td>
        </tr>
        <tr class="border-bottom">
          <td class="text-black-50 fw-bold">Price above 150 miles</td>
          <td><i class="fa fa-dollar-sign"></i> {{vehicle.price150plus}}.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>