<div class="container my-3">
    <div class="w-75 d-flex flex-column mx-auto pb-5">
        <form enctype="multipart/form-data" [formGroup]="formGroup" (submit)="handleForm()" autocomplete="off"
            novalidate>
            <div id="carouselExampleControls" class="carousel w-75 mx-auto slide mb-3" data-bs-ride="carousel">
                <div class="carousel-inner" style="max-height: 25em; overflow: hidden;">
                    <div class="carousel-item mh-100 mw-100" [ngClass]="{'active': i === 0}"
                        *ngFor="let photo of addedPhotos; index as i">
                        <img [src]="photo.url" class="d-block mw-100 mh-100 mx-auto my-auto" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row mb-5 w-75 mx-auto photos-section border rounded">
                <div *ngIf="addedPhotos.length === 0" class="fs-6 text-muted text-center my-4">Start adding photos by
                    clicking on '+' icon</div>
                <button mat-button type="button" *ngFor="let img of addedPhotos; index as i" class="py-2"
                    data-bs-target="#carouselExampleControls" [attr.data-bs-slide-to]="i">
                    <div class="delete-btn rounded">
                        <button mat-icon-button (click)="deletePhoto($event, i)" type="button" color='error'>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <img [src]="img.url">
                </button>
                <button mat-button class="add-img-btn py-2 mx-auto">
                    <i class="far fa-plus-square fa-3x" aria-hidden="true"></i>
                    <input type="file" title="Add photos" [disabled]='submitting' (change)='handlePhotos($event)'
                        multiple accept="image/png, image/jpeg, image/jpg">
                </button>

            </div>
            <div class="row">

                <mat-form-field appearance="outline" class="col">
                    <mat-label>Vehicle Name</mat-label>
                    <input matInput placeholder="ex: Limousine, XUV 700" required formControlName="name">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Passenger capacity</mat-label>
                    <input matInput placeholder="passenger capacity of vehicle" required
                        formControlName="passenger_capacity">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Child seat capacity</mat-label>
                    <input matInput placeholder="child seat capacity of vehicle" required
                        formControlName="child_seat_capacity">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Luggage capacity</mat-label>
                    <input matInput placeholder="luggage capacity of vehicle" required
                        formControlName="luggage_capacity">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Base fare</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="in dollars" required formControlName="baseprice">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>

            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for upto 10 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="0 to 10 miles price" required
                        formControlName="price0to10">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 10 to 25 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="10 to 25 miles price" required
                        formControlName="price10to25">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 25 to 40 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="25 to 40 miles price" required
                        formControlName="price25to40">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 40 to 60 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="40 to 60 miles price" required
                        formControlName="price40to60">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 60 to 80 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="60 to 80 miles price" required
                        formControlName="price60to80">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 80 to 100 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="80 to 100 miles price" required
                        formControlName="price80to100">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 100 to 120 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="100 to 120 miles price" required
                        formControlName="price100to120">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price for 120 to 150 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="120 to 150 miles price" required
                        formControlName="price120to150">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Price after 150 miles</mat-label>
                    <i matSuffix class="fas fa-dollar-sign"></i>
                    <input matInput type="number" placeholder="after 150 miles price" required
                        formControlName="price150plus">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-flat-button color='accent'
                    [disabled]='formGroup.invalid || formGroup.pristine || submitting' type="submit"
                    class="w-75 mx-auto">
                    <div class="spinner-border m-2" role="status" *ngIf="submitting">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    {{submitting?'Adding Vehicle...':'Save changes'}}
                </button>
            </div>
        </form>
    </div>
</div>