.carousel{
    .carousel-inner{
        .carousel-item{
            height: 18em;
            vertical-align: middle;
            img{
                height: 100%;
                max-width: 100%;
                
            }
        }
    }
}